.agreementintro {
  color: #ff0000;
}

#fullAgreement {
  border: solid 1px black;
}

#agreementtable {
  border: solid 1px black;
}

#agreementtable tr td {
  border: solid 1px black;
}

#agreementtable tr td.center {
  text-align: center;
}

#itemization {
  border: none;
  text-align: center;
  margin: 15px auto 15px auto;
}
#itemization tr td {
  border: none;
}

.itemizationprefix {
  text-align: right;
  padding-right: 40px;
}

.dashboard {
  text-align: center;
}
.agreementBottom {
  margin: 30px 0 0 0;
  text-align: center; 
}
.agreementBottom input {
  float: left;
}
.agreementAgree {
  text-align: center;
}
#promNote {
  border: 1px solid;
  height: 300px;
  overflow: auto;
  padding: 5px;
  text-align: left;
  width: 90%;
  margin: 20px auto;
}

#financefee {
  font-size: 12px;
}