/* Bootstrap Subtheme Styles - prototype code!! */

/* Code here is prototype specific. */

/* Promo placeholder prototype. */
.promo-placeholder {
  background: #ccc;
  border: 1px solid #000;
  text-align: center;
  position: relative;
  font-weight: bold;
  /*float: left;*/
  /*width: 25%;*/
  height: 10.0em;
  margin: 1em 1.5em;
}
.promo-placeholder span {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}
.promo-placeholder img {
  width: 100%;
  height: 100%;
}

/* Footer placeholder prototype. */
.footer-placeholder {
  background: #ccc;
  border: 1px solid #000;
  text-align: center;
  position: relative;
  font-weight: bold;
  float: left;
  width: 25%;
  height: 3.0em;
  margin: 0 0.6em;
}
.footer-placeholder span {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}
.footer-placeholder img {
  width: 100%;
  height: 100%;
}

/* End prototype code specific. */

/* Code below can be reused for real site. */

/* Hide page header from user. */
.front .page-header {
  display: none;
}
.page-wizard .page-header {
  display: none;
}

/* Slider Control homepage form, used id's on this for now. */
.ui-slider a:focus {
  outline: 1px dotted gray;
}
.sliderfield input {
  width: 100%;
}
.sliderfield legend {
  margin-bottom: 40px;
}
.applicationui input {
  width: 100%;
}
.applicationui legend {
  margin-bottom: 40px;
}

/* Vertical Rule homepage form. */
.vertical-divider {
  float: right;
  /*width: 4px;*/
  min-height: 71px;
  border-left: 1px solid darkgrey;
}

/* Button wrapper homepage form. */
.btn-span-wrapper {
  padding: 10px;
}
.btn-span-wrapper button {
  width: 100%;
}

/* Footer */
/* Footer Dividers. */
/*.footer ul.nav li:before {*/
  /*content: '\007C';*/
  /*padding: 0 0 0 .7em;*/
/*}*/

/*.footer ul.nav li:last-child:before {*/
  /*content: '';*/
/*}*/

/*.footer ul.nav li{*/
  /*padding: 0 .7em 0 0;*/
/*  float:left;
  display: inline;
  list-style-type: none;
}*/

.footer .region{
  float: left;
}

/* App Wizard Specific Styles */

.accordion-head-text p {
  padding: 0.9em;
  font-size: 18px;
  letter-spacing: 1px;
  margin: 0;
}

/* FuelUX Overrides Wizard App */
.fuelux select,
.fuelux textarea,
.fuelux input[type="text"],
.fuelux input[type="password"],
.fuelux input[type="datetime"],
.fuelux input[type="datetime-local"],
.fuelux input[type="date"],
.fuelux input[type="month"],
.fuelux input[type="time"],
.fuelux input[type="week"],
.fuelux input[type="number"],
.fuelux input[type="email"],
.fuelux input[type="url"],
.fuelux input[type="search"],
.fuelux input[type="tel"],
.fuelux input[type="color"],
.fuelux .uneditable-input {
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
  height:auto
}

/* Bug fix for FuelUX using radio btn-group. */
/*.fuelux .step-content .active .btn-group .active{
  display: inline-block;
}*/

/* Well Inverted class, an add-on to .well from Bootstrap */
.well .well-inverted {
  background: #FFF;
}

/* End App Wizard Specific Styles */

/* Overwrite default AJAX throbber for homepage. */
.page-home .ajax-progress .message,
.page-home .ajax-progress-throbber .message{
  color: white;
  font-size: 20px;
  padding: 30px;
}
.page-home .ajax-progress .throbber,
 .page-home .ajax-progress-throbber .throbber {
  float: none;
  margin: 250px auto 0 auto;
  width: 128px;
  height: 128px;
  background: url("images/loader.gif") no-repeat center center;
}
.page-home .ajax-progress,
.page-home .ajax-progress-throbber {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 500;
  vertical-align: middle;
  text-align: center;
}

/* Media Query overrides. */
@media (max-width:768px) {
  .vertical-divider{
    display: none;
  }
}

/* Experimental range */
input[type="range"]{
    -webkit-appearance: none;
    -moz-apperance: none;
    width: 200px;
    height: 8px;
    padding: 0;
    /*border-left: 20px solid blue;
    border-right: 20px solid red;*/
    background: lightgrey;
    border-radius: 2px;
    margin-top: 25px;
    /*background-image: -webkit-gradient(
        linear,
        left top,
        right top,
        color-stop(0.2, blue),
        color-stop(0.2, red)
    );*/
}


input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance:none;
    -moz-apperance:none;
    width:25px;
    height:25px;
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
    -ms-border-radius:20px;
    -o-border-radius:20px;
    border-radius:20px;
    background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0, #fefefe), color-stop(0.49, #d7d7d7), color-stop(0.51, #d1d1d1), color-stop(1, #c8c8c8) );
    border: 1px solid #787878;
}
