/* theme printable referral cards */
#referral-card .company-name {
  font-size: 2em;
  color: #7f0000;
  border-bottom: 5px solid black;
  margin-bottom: 3px;
  padding-bottom: 3px;
}

#referral-card .ref-code {
  color: #7f0000;
  font-size: 2em;
}
#referral-card .company-phone {
  font-size: 2em;
  padding: 10px 0;
}
#referral-card .company-url {
  font-size: 2em;
  padding: 10px 0;
}
#referral-card .referral-notes {
  padding-top: 10px;
  font-size: 0.8em;
  text-align: center;
}

tbody {
  border-top: 0;
}

.bottom_dotted_line {
  border-bottom: 2px dashed black;
  padding-top: 20px;
  padding-bottom: 20px;
}
.right_dotted_line {
  border-right: 2px dashed black;
  padding-right: 20px;
}
.top_dotted_line {
  border-top: 2px dashed black;
  padding-top: 20px;
}
.left_dotted_line {
  border-left: 2px dashed black;
  padding-left: 20px;
}
.rright {
  padding-left: 20px;
}