/* Account summary page */
#myaccount_container .groupedbox {
  margin-right: 40px;
  margin-bottom: 20px;
  float: left;
}

#myaccount_container #myaccount_summary .label {
  font-weight: bold;
}

#myaccount_container #myaccount_mainoptions {
  float: left;
}

#myaccount_container #myaccount_mainoptions p {
  font-size: 1.4em;
}

#myaccount_container #myaccount_mainoptions p #clientname {
  font-weight: bold;
}


/* Loan agreement page */
#myaccount_agreement_container {
/*   width: 814px; This can stretch to container width*/
}

#myaccount_agreement_container #lenderdetails,
#myaccount_agreement_container #borrowerdetails {
  width: 45%;
  margin-right: 20px;
  float: left;
  text-align: center;
}

#myaccount_agreement_container #loanagreement {
  width: 700px;
  text-align: center;
  margin: auto;
  margin-top: 60px;
}

#myaccount_agreement_container #annual_pc,
#myaccount_agreement_container #finance_charge,
#myaccount_agreement_container #amount_financed,
#myaccount_agreement_container #total_payments {
  width: 180px;
  height: 180px;
  margin-right: 20px;
  float: left;
  margin-top: 60px;
  text-align: center;
}
/*
#myaccount_agreement_container #itemization {
  width: 400px;
  text-align: center;
  margin: auto;
  margin-top: 60px;
}
*/
/* My Details page */
#myaccount_mydetails_container .titlecell {
  width: 150px;
}

/* Preferred Level page */
#member-lvl {
  height: 52px;
  padding-bottom: 15px;
}

#member-lvl h2 {
  width: 60%;
  float: left;
}

#next-lvl {
  width: 275px;
  float: right;
}

#next-lvl p {
  float: left;
  width: 185px;
  text-align: right;
  font-size: 11px;
  margin-top: 0px;
}

#next-lvl img {
  float: right;
  border: 1px solid black;
  margin-left: 15px;
}

#pref-program-container {
  background: #9cc5d2;
  padding: 5px;
  clear: both;
}

#pref-program {
  padding: 15px 20px;
  border: 1px solid #7ba3af;
  background: #fff;
}

#pref-program .member-lvl {
  padding-bottom: 10px;
}

#pref-program #silver.member-lvl {
  padding-top: 15px;
}

#pref-program .member-lvl .left {
  float: left;
  margin-right: 20px;
}

#pref-program .member-lvl p {
  display: block;
  margin: 0px;
}








/* Lee Walkers CSS aditions */
/* account.tpl.php */
#myaccount_mainoptions {
  border: gray 1px solid;
  padding: 10px;
}

#myaccount_summary {
  border: 0;
  padding: 0 10px 10px 30px;
  float: left;
}


.clear-both {
  clear: both;
}

#myaccount_summary .label {
  padding-top : 10px;
}

#myaccount_myloans,
#myaccount_myaccount,
#myaccount_getcashfast {
  margin-top: 30px;
}

#myaccount_container .logout {
  float: right;
}

.groupedbox li {
  list-style-type: none;
}

a {
  text-decoration: underline;
}

.groupedbox ul {
  padding: 0px;
}

.groupedbox .disabled {
  color: #BCBCBC;
}

.groupedbox h3 {
  border-bottom: #BCBCBC 1px solid;
}

.groupedbox li {
  padding-top: 5px;
}

.groupedbox a {
  color: -webkit-link;
}


/* loanstatus.tpl.php */
#viewaccount_container div#header_info  div {
  float: left;
  font-size: 0.8em;
  padding-right: 30px;
}
#viewaccount_container div#header_info  div .label,
#viewaccount_container div#header_info  div#name {
  font-weight: bold;
}

#loan_status_info,
#payments_info,
#loan_summary,
#referral_info,
#deposit_info {
  padding-top: 30px;
}

#loan_status_info .smaller {
  font-size: 0.8em;
}
#loan_status_info table.Report {
  width: 600px;
}
table.Report td {
  border-top: 1px solid #DDD;
  padding-top: 2px;
  padding-botom: 2px;
}

#viewaccount_payments_info th,
#viewaccount_deposit_info th {
  text-align: left;
}
#viewaccount_deposit_info .date,
#viewaccount_deposit_info .amount,
#viewaccount_deposit_info .status {
  width: 200px;
}
#viewaccount_payments_info .amount,
#viewaccount_payments_info .status,
#viewaccount_payments_info .action {
  width: 150px;
}

#viewaccount_payments_info .date {
  width: 200px;
}

.return-to-account {
  padding-top: 30px;
  font-size: 0.8em;
}

#loan-agreements-table th {
  width: 250px;
  text-align: left;
}

/* account/agreement/%agreeID */
#myaccount_agreement_container .value {
  font-weight: bold;
}

/* loan history */
#loan_history_t th {
  text-align: left;
  padding-right: 30px;
  font-size: 14px;
}
#loan_history_t td {
  padding-right: 30px;
  font-size: 14px;
}


/* claim referrals */
#claim_referrals_page #referral_table .form-item {
  margin: 0;
}
#claim_referrals_page #referral_table th {
  text-align: left;
}
#claim_referrals_page #referral-what {
  cursor: pointer;
  text-decoration: underline;
}
#claim_referrals_page .ref_code {
  font-size: 1.4em;
  color: blue;
}
#claim_referrals_page #referral-code-info {
  border: 1px solid #BCBCBC;
  padding: 10px;
}
#claim_referrals_page #referral-code-info p {
  margin: 0;
}
/* mydetails */
#myaccount_mydetails_container .box {
  padding-top: 20px;
}
#myaccount_mydetails_container .box tr {
  border-top: 1px solid #BCBCBC;
}

/* Stolen from application CSS */
.agreementintro {
  color: #ff0000;
}

#fullAgreement {
  border: solid 1px black;
}

#fullAgreement #signature p {
  font-size: 1.3em;
}

#agreementtable {
  border: solid 1px black;
}

#agreementtable tr td {
  border: solid 1px black;
}

#agreementtable tr td.center {
  text-align: center;
}

#itemization {
  border: none;
  text-align: center;
  margin: 15px auto 15px auto;
}
#itemization tr td {
  border: none;
}

.itemizationprefix {
  text-align: right;
  padding-right: 40px;
}

.dashboard {
  text-align: center;
}
.agreementBottom {
  margin: 30px 0 0 0;
  text-align: center; 
}
.agreementBottom input {
  float: left;
}
.agreementAgree {
  text-align: center;
}
#promNote {
  border: 1px solid;
  height: 300px;
  overflow: auto;
  padding: 5px;
  text-align: left;
  width: 90%;
  margin: 20px auto;
}
/**************** */

#referraltransactions td {
  border: 1px solid black;
  padding: 2px;
}

#referraltransactions th {
  border: 1px solid black;
}

#financefee {
  padding-left: 10px;
  font-size: 12px;
  font-weight: bold;
}

#ApplicationArea .loan_req .l-due-dates .form-item .form-radios .form-item {
  margin-bottom: 0;
}

#personalschedule table {
  margin: 10px;
  border: solid 1px black;
}

#personalschedule table tr th {
  font-size: 12px;
  padding: 0 5px;
}

#personalschedule table tr td {
  font-size: 12px;
  text-align: center;
  padding: 2px;
}

#extendTable th.charge { width: 150px; text-align: left; }
#extendTable th.amount { width: 150px; text-align: left; }
#extendTable th.mindue { width: 150px; text-align: left; }
