/*
 * NoGray JavaScript Library
 *
 * Copyright (c), All right reserved
 * Gazing Design - http://www.NoGray.com
 * http://www.nogray.com/license.php
 */
/*-------------------------------------------Calendar Styles-------------------------------------------------------*/
/******************this is on apply and loan request page***********************************/
#ApplicationArea .payday_apply #calendar th {
	text-align:center;
	padding:2px 0;
	color:#404040;
	font-size:12px;
}

#ApplicationArea .payday_apply #calendar,#ApplicationArea .loan_req #calendar {
	margin:0 auto;
	width:622px;
}

#ApplicationArea .payday_apply #calendar .ng_cal_dates_tr td,#ApplicationArea .loan_req #calendar .ng_cal_dates_tr td {
	padding:2px;
	white-space:nowrap;
	*position: relative;
}

#ApplicationArea .payday_apply #calendar .ng_cal_month_group_td,#ApplicationArea .loan_req #calendar .ng_cal_month_group_td {
	vertical-align:top;
	border:solid #333 1px;
}

#ApplicationArea .payday_apply #calendar .ng_cal_day_name_td,#ApplicationArea .loan_req #calendar .ng_cal_day_name_td {
	padding:5px 3px;
}

#ApplicationArea .payday_apply #calendar .ng_cal_month_table,#ApplicationArea .loan_req #calendar .ng_cal_month_table {
	font-size:8px;
}

#ApplicationArea .payday_apply #calendar tr.ng_cal_dates_tr,#ApplicationArea .loan_req #calendar tr.ng_cal_dates_tr {
	font-size:8px;
}

#ApplicationArea .payday_apply table,#ApplicationArea .loan_req table {
  background:#fff;
  border-collapse: separate;
  border-spacing: 0;
  *border-collapse: collapse; /* hack is needed for IE7 also */
}


#ApplicationArea .payday_apply tr.buttons_cal_hide,#ApplicationArea .loan_req tr.buttons_cal_hide {
	display:none;
}

/*#calendar {
	border-collapse:collapse;
	width:100%;
}*/
/*#calendar > tbody > tr > td {
	border:solid #000 1px;
}

#calendar td {
	vertical-align:top;
}

#calendar .month {
	width:100%;
	border-collapse:collapse;
}

#calendar .month td {
	border:solid #bcbcbc 1px;
}

#calendar .month .month-name {
	font-weight:700;
	text-align:center;
}

#calendar .month .day-header,#calendar td.today {
	font-weight:700;
	background:#eee;
	color:#fff;
}

#calendar .month .altrow {
	background:#fff;
}

#calendar td.non-business {
	color:#bcbcbc;
}

#calendar td.highlighted {
	color:#122c3b;
	font-weight:700;
}*/
.ng_cal_cal_frame_table .ng-button {
	font-size:small;
}

.ng_cal_cal_frame_table .ng-button-bevel {
	height:15px;
	overflow:hidden;
}

.ng_cal_right_month_td {
	text-align:right;
}

.ng_cal_left_month_td {
	text-align:left;
}

.ng_cal_today {
}

.ng_cal_months_group_table {
	width:100%;
	border-collapse:separate;
}

.ng_cal_month_group_td {
	vertical-align:top;
	border:solid #bbc5d5 1px;
}

.ng_cal_month_table {
	border-collapse:separate;
}

.ng_cal_month_table th {
	text-align:center;
}

.ng_cal_month_table *,.ng_cal_years_select_td * {
	font-size:small;
}

.ng_cal_years_select_td {
	text-align:center;
	background:#dee3ea;
}

.ng_cal_day_name_td {
	padding:2px 5px;
}

.ng_cal_dates_tr td {
	padding:2px;
	white-space:nowrap;
}

.ng_cal_out_of_range {
	color:#999;
	text-decoration:line-through;
}

.ng_cal_weekend,.ng_cal_day_off,.ng_cal_range_off {
	color:#666;
}

.ng_cal_other_month {
	color:#999;
	background:#efefef;
	border:solid #efefef 1px;
	cursor:pointer;
}

.ng_cal_date_off {
	color:#666;
}

.ng_cal_selected_date,.ng_cal_selected_date.ng_cal_selectable:hover {
	background:#ffbb45;
	padding:1px;
	font-weight:700;
}

.ng_cal_selectable {
	cursor:pointer;
	border:solid transparent 1px;
}

.ng_cal_selectable:hover {
	background:#faedd6;
	font-weight:700;
	border:dotted #999 1px;
}

.ng_cal_bottom_bar {
	text-align:right;
}

.ng_cal_bottom_bar * {
	font-size:small;
}

.ng_cal_date_list_td {
	font-size:small;
	border:solid #dee3ea 1px;
	cursor:pointer;
}

.ng_cal_date_list_remove_td {
	background:url(../images/remove_icon.gif) no-repeat center center;
	cursor:pointer;
	border:solid #dee3ea 1px;
	width:15px;
	height:15px;
}

/*1.1.2*/
.ng-comp-disabled .ng_cal_selectable:hover {
	border:solid transparent 1px;
	background:none;
}

.ng-comp-disabled .ng_cal_selected_date.ng_cal_selectable:hover {
	background:#ffbb45;
}

/*1.1.2*/